body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.container{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px;
  min-height: 100vh;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-GymBuddy{
width: 200px;
padding-left: 20px;
margin-top: 5px;
}

nav ul{
  list-style: none;
  text-align: right;
  cursor: pointer;
}

nav li{
display: inline-block;
margin-right: 50px;
}

nav a {
  color:white ;
  text-decoration: none;
}

.menu{
  font-size: 20px;
  display: inline-block;
  transition: transform 0.3s ease; /* Adaugă o tranziție de 0.3 secunde pentru scalare */
}

.menu:hover {
  transform: scale(1.2); /* Scalarea textului la hover */
}