body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    background-image: url('../utils/bg-image.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-GymBuddy {
    width: 200px;
    padding-left: 20px;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    text-align: right;
    cursor: pointer;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

nav a {
    color: white;
    text-decoration: none;
}

.menu1 {
    margin-right: 200px;
}

.menu,
.menu1 {
    font-size: 20px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.menu:hover,
.menu1:hover {
    transform: scale(1.2);
}

.info {
    position: absolute;
    width: 85%;
    height: 75%;
    background-color: #d9d9d9 ;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 0.8%;
    text-align: center;
}

#text-container {
    font-size: 230%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

#container2 {
    display: flex;
    justify-content: space-between;
}

#column1,
#column2 {
    width: 48%;
    margin: 1%;
}

.labels {
    display: block;
    font-size: 130%;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
}

form {
    margin-bottom: 7%;
    display: flex;
    flex-direction: row; /* Display the form elements in a row */
    align-items: center;
    justify-content: space-between; 
}

input,
select,
date {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: #d9d9d9;
}

button{
   font-size: 230%;
   margin-top: 3%;
   margin-left: 15%;
   color: white;
   background: linear-gradient(to right,#FF6619 50%, #FFD919);
   border-style: none;
   cursor: pointer;
   border-radius: 5px;
   transition: transform 0.3s ease;
}

button:hover{
  transform: scale(1.1); 
}

input::placeholder{
    color: rgb(59, 59, 59);
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

select{
    font-size: 150%;
    color: rgb(59, 59, 59);
    font-weight: bold;
    text-align: center;
}

